PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "Cases" (
	"Id"	INTEGER,
	"Name"	INTEGER NOT NULL UNIQUE,
	"Material"	TEXT NOT NULL,
	"Price"	INTEGER NOT NULL,
	"Items_id"	INTEGER,
	PRIMARY KEY("Id" AUTOINCREMENT)
);
INSERT INTO Cases VALUES(1,'Celecon','Silicone',3000,1);
INSERT INTO Cases VALUES(2,'Leather Luxury','Leather',3500,1);
INSERT INTO Cases VALUES(3,'Armor Shield','Polycarbonate',2000,2);
CREATE TABLE IF NOT EXISTS "Items" (
	"Id"	INTEGER,
	"Name"	TEXT NOT NULL,
	"Price"	INTEGER NOT NULL,
	"image_data"	BLOB,
	"image_type"	TEXT,
	PRIMARY KEY("Id" AUTOINCREMENT)
);
INSERT INTO Items VALUES(1,'iPhone 15 Pro',79990,NULL,NULL);
INSERT INTO Items VALUES(2,'Samsung S24',85990,NULL,NULL);
INSERT INTO Items VALUES(3,'Google Pixel 8',69990,NULL,NULL);
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('Cases',6);
INSERT INTO sqlite_sequence VALUES('Items',6);
PRAGMA writable_schema=OFF;
COMMIT;
